{% extends "layouts/main.html" %}

{% set pageName = "Apply for a Blue Badge parking permit" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for a Blue Badge parking permit</h1>
    <p class="govuk-body">Use this service to apply for a Blue Badge if you have a qualifying disability or health condition.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Details of your disability or health condition</li>
      <li>Supporting evidence like medical letters or benefit award letters</li>
      <li>A recent passport-style photograph</li>
      <li>Proof of identity and address</li>
    </ul>
    <p class="govuk-body">It takes around <strong>15 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/applicant-type",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
